@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.open-submit {
	background: #ffb03b;
	color: white;
	border-radius: 100px;
}

.open-submit:hover {
	background: #ffa012;
	color: white;
}

html {
	scroll-behavior: smooth;
}

.gambar {
	max-width: 200px;
	height: 200px;
}

.invoice-title h2,
.invoice-title h3 {
	display: inline-block;
}

.table > tbody > tr > .no-line {
	border-top: none;
}

.table > thead > tr > .no-line {
	border-bottom: none;
}

.table > tbody > tr > .thick-line {
	border-top: 2px solid;
}

.histori {
	background: #ffb03b;
	color: white;
	border-radius: 100px;
	margin-left: auto;
}

.histori:hover {
	background: #ffa012;
	color: white;
}
/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"] + label:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #ffb03b;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


@media (min-width: 992px) {
	.card {
		margin: 0 0 20px 60px;
	}
}

@media (max-width: 575.98px) {
	.card {
		margin-bottom: 20px;
	}
}
