.open-submit {
    background: #ffb03b;
    color: white;
    border-radius: 100px;
}

.open-submit:hover{
    background:#ffa012;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.gambar{
    max-width: 200px;
    height: 200px;
}

.custom-file-input {
    color: transparent;
  }
  
  .custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

@media (min-width: 992px) {
    .card{
        margin: 0 0 20px 60px;
    }
 }

@media (max-width: 575.98px) { 
    .card{
        margin-bottom: 20px;
    }
}
