.card-text{
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
    width: 20.5rem;
    
}
.semia{
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: rgb(168, 158, 158);
}

.tombol{
    margin-right: auto;
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
}

.quantity{
    background-color: white;
    width: 50px;
}

.def-number-input{
    margin-top: 40px;
}

.hapus{
    color: red;
}
.hapus:hover{
    content: '';
    display: block;
    color: red;
}

/* navbar */

#popup{
    background-image: url('tim-mossholder-q49oU8NeOHQ-unsplash.jpg');
    background-size: cover;
    
    }
    /* akhir */
    #popupp{
        background-image: url('nyoba_tok.jpg');
        background-size: cover;
    }
    /* akhir */
    #popuppp{
        background-image: url('iki_nyobak.jpg');
        background-size: cover;
    }
.quantity{ border: none 
}       
.card{
    margin-top: 30px;
}
