.nav-link:hover {
    background-color: grey;
}

.card-text{
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
}
.fas fa-sign-out-alt mr-3{
    color: black;
}

.nav{
    height: 540px;
}
